/*根*/
{
    -fx-text-fill: white
}
/*button*/
.button
{
    -fx-border-radius: 3;
    -fx-background-color: #3181aa;
    -fx-cursor: hand;

}

.button:pressed, .button:default:hover:pressed
{
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

/*tab-pane*/
.tab-pane > .tab-header-area > .tab-header-background
{
    -fx-background-color: transparent;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label
{
    -fx-background-color: transparent;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container
{
    -fx-background-color: transparent;
}

.tab-pane > .tab-header-area > .headers-region > .tab
{
    -fx-background-color: transparent;
}

/*text-field*/
.text-field
{
    -fx-background-color: transparent;
    -fx-border-radius: 3;
    -fx-border-width: 1;
    -fx-border-color: white;
}
.text-area
{
    -fx-background-color: transparent;
    -fx-border-radius: 3;
    -fx-border-width: 1;
    -fx-border-color: white;
}

/*progress-bar*/
.progress-bar
{
    -fx-border-width: 1;
    -fx-border-color: gray;
    -fx-border-radius: 3;
}

.progress-bar > .bar
{
    -fx-background-color: white;
    -fx-background-insets: 2;
    -fx-border-radius: 3;
}

.progress-bar > .track
{
    -fx-background-color: transparent;
}

/*折线图chart*/

/*.chart {*/
/*-fx-padding: 0px;*/
/*}*/

/*折线图*/
/*.chart-content {*/
/*-fx-padding: 0px;*/
/*}*/

.axis
{
    -fx-tick-label-fill: white;
}

.chart-legend-item-symbol
{
    -fx-background-radius: 0;
}

.chart-plot-background
{
    -fx-background-color: transparent;
}

.chart-alternative-row-fill
{
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

/*list-view*/
.list-view
{
    -fx-background-color: transparent;
}

.list-cell
{
    -fx-background-color: transparent;
}

.list-cell:selected
{
    -fx-background-color: white;
    -fx-text-fill: black;
}

/*scroll-bar*/
.scroll-bar
{
    -fx-background-color: transparent;
}

/*combo-box*/
.combo-box
{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: gray;
    -fx-border-width: 1;;
    -fx-border-radius: 3;
}

.combo-box-base > .cell
{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.combo-box > .label
{
    -fx-background-color: transparent;
}

.combo-box > .text-field
{
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.combo-box-popup > .list-view
{
    -fx-background-color: rgb(115, 20, 50);
    -fx-border-color: gray;
    -fx-border-width: 1;
}

/*titled-pane*/
.titled-pane
{
    -fx-background-color: transparent;
}

.titled-pane > .title, .titled-pane > *.content
{
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-border-width: 1;
}

/*tableview*/
.table-view
{
    -fx-background-color: transparent;
    -fx-border-color: gray;
    -fx-border-width: 1;
}

.table-view *
{
    -fx-background-color: transparent;
}








